<h1>Задание</h1>

<p>Написать программу, определяющую все меньшие n (n ≤ 10<sup>6</sup>) натуральные числа, которые являются палиндромами 
как в десятичной, так и в двоичной системе. При программировании использовать функцию. Вывести на печать все 
найденные числа в десятичной и двоичной системе. Например: 33 - 100001.</p>

<%= form_with id: :form, format: :json, url: calc_result_path, method: 'get' do |f| %>
  <%= f.label :n, :N %>
  <%= f.number_field :n, required: true, min: 1, max: 1000000, value: '5' %>

  <%= f.submit 'Посчитать' %>
<% end %>

<div id="result"></div>

<%= javascript_pack_tag 'w' %>
